<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stopmeifyoucan.makneya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".data.InDB"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_start"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Makneya"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".common.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common.LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".user.ForFirstUser" />
        <activity android:name=".user.AddBujang" />
        <activity
            android:name=".common.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Makneya.NoActionBar" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="ikqvpsto0k" />
        <activity android:name=".navigation.TabRecipe" />
        <activity android:name=".user.MyBujang" />
        <activity android:name=".MenuSuggestion" />
        <activity android:name=".PlaceSuggestion" />
        <activity android:name=".FinalApproval" />
    </application>

</manifest>